# Environments
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# PyWhatKit DB
PyWhatKit_DB.txt

# VS Code
.vscode/